/* ==========================================================================
   Global Overrides
  ========================================================================== */
* {
  box-sizing: border-box;

}





.clearfix:after {
  display: table;
  clear: both;
  content: "";
}

/* 

SideBar
  ========================================================================== */
.hamburger {
  cursor: pointer;
  display: none;
  float: left;
  width: 9%;
  margin: 2% 0 2% 4%;
}

.ham_line {
  border-bottom: 2px solid yellow;
  width: 25px;
  margin-bottom: 6px;
}

.ham_line:last-child {
   margin-bottom: 0;
}

.sidebar {
  width: 120px;
  height: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px 0;
  transform: translateX(-200%);
  -ms-transform: translateX(-300px);
    -webkit-transform: translateX(-300px);

  z-index: 175;
  -webkit-box-shadow: 25px 14px 26px 19px rgba(0,0,0,0.2);
  -moz-box-shadow: 25px 14px 26px 19px rgba(0,0,0,0.2);
    box-shadow: 25px 14px 26px 19px rgba(0,0,0,0.2);

}
.sidebar li {
  list-style: none;
  color: gray;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 2%;
}
.sidebar li:hover {
  cursor: pointer;
}
.sidebar a {
  text-decoration: none;
  color: gray;
}
.sidebar p {
    color: gray;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 400;
  margin-left: 8%;
}
.sidebar p:hover {
  cursor: pointer;
}
.close {
  position: absolute;
  top: 10px;
  right: 20px;
  text-transform: none;
  font-size: 20px;
}

.sidebar{
  transition: all 300ms ease-in-out;

}

.active .sidebar {
  transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
}
/* Navigation
   ================================================================ */
.nav {
  position: fixed;
  z-index: 100;
  top: 0;
  background-color: rgba(125,127,123,0.5);
  width: 100%;
  height: 70px;
  visibility: hidden;
  display: none;
  -webkit-box-shadow: 0px 13px 36px -4px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 13px 36px -4px rgba(0,0,0,0.15);
  box-shadow: 0px 13px 36px -4px rgba(0,0,0,0.15);
}
.nav ul {
  margin-left: 10%;
  margin-right: 10%;
  text-align:center;
}
.nav li {
  width: 20%;
  margin: 0.5% auto;
  -webkit-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
  text-decoration: none;
}

.nav li, .nav a {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  font-size: 1rem;
  color: white;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
}

.nav li:hover {
  cursor: pointer;
  color: gray;
}
.scrolled {
  visibility: visible;
  display: block;
}


/* Header
   ================================================================ */
.header {

}
.header img {
/*  background-image: url("../images/main_image.jpg");
  background-size: 100%;
*/
  position: relative;
  width: 100%;
/*  height: 49rem;*/
/*  background-repeat: no-repeat;*/
}
.header_copy {
  width: 100%;
  position: absolute;
  top: 30%;
  left:1%;
}
.header_mobile {
  visibility: hidden;
  display: none;
}
.hr_mobile {
  visibility: hidden;
  display: none;
  width: 100%;
  border-bottom: 2px solid #8b0837;
}

.header_copy h1 {
  margin:0 70% 0 0;
  text-align: center;
}

.header_copy h2, .header_mobile h2, .header_full h1, .header_full h2 {
  font-family: 'Maiden Orange', cursive;
  font-size: 4.2rem;
  margin: 2% 70% 0 0;
  text-align: center;
  color: rgb(144,145,144);
  font-weight: 100;
  letter-spacing: 8px;
}

.header h2, .head h2 {

}

.articles {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  font-size: 1rem;
  margin: 0 auto 10%;
  color: #3C3D3D;
}
#ballerina {
  font-family: 'Cookie', cursive;
  font-weight: 100;
  font-size: 4.8rem;
  line-height: 3.4rem;
/*  color: #8b0837;*/
  color: #FACD1F;
}

#baritone {
  font-family: 'Oswald', sans-serif;
  font-size: 3.4rem;
  text-transform: uppercase;
  font-weight: 100;
/*  color: #6E8B52;  */
  color: #FACD1F;
}

.date {
 color: #FACD1F;
}

.header_line {
  top: 72%;
  width: 100%;
  height: 2px;
  border-bottom: 4px solid gray;
  visibility: hidden;
  display: none;
}


/* Headings
   ================================================================ */
#about {
    height: 100%;
  }

.about_color {
overflow: hidden;
position: relative;
}

#about_hr {
  width: 30%;
  margin: 1% 35%;
  border-bottom: 0.4px solid rgba(250,205,31,0.2);
}
#drawn_flowers {
  z-index: -50;
  position: absolute;
  width: 45%;
  opacity: 0.2;
}

.line_Wrapper {
  vertical-align: top;
  display: inline-block;
  position: relative;
  width: 100%;
  margin-top: 7%;
}
.line {
  border-bottom: 1px solid rgba(250,205,31,1);
/*  margin: 6% 0 2% 0;
*/  width: 100%;
  position: absolute;
  top: 50%;
  z-index: 40;
}
.line_Wrapper h1 {
  position: relative;
  top: 25%;
  height: 50%;
  width: 35%;
  padding: 0 0;
  left:32.5%;
  color: gray;
  background-color: white;
  z-index: 45;
  border: 1px solid rgba(250,205,31,1);
 }
  #about h1 {
    line-height: normal;
    color: rgba(250,205,31,1);
    font-size: 4rem;
    padding: 0;
    font-weight: 100;

  }

.intro {
  margin: 0 auto 6% auto;
  border-top: 2rem solid rgba(188,191,184,0.15);
}

.intro_img {
  width: 50%;
  margin: 1% auto 0 auto;
}

#carlton, #christina {
/*  border: 1px solid #BCBFB8;*/
}

#dance_img, #opera_img {
  width:100%;
  margin: 2% auto;
}
#teen_little, #carlton_little {
  width: 20%;
  float: left;
  margin: 2% 4% 2% 0;
}

#carlton {
  width: 100%;
  margin: 0 auto;
}

#christina {
  width: 60%;
/*  width: 100%;*/
  margin: 0 20%;
}

.bio {
/*  width: 45%;
  float: left;*/
  width: 80%;
}
.bio p {
  text-align: left;
}

.intro h1 {
  font-family: 'Cookie', cursive;
  line-height: 1rem;
  font-size: 3rem;
  text-align: center;
  margin: 0;

}

.intro h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;
  margin-top: 1%;
}

.intro_teen p, .intro_carl p {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 0.8rem;
  line-height: 1.4rem;
  text-align: left;
  opacity: 1;
}

#intro_first {
  margin-top: 5%;
}

.intro_teen, .intro_carl {
/*  margin-right: 3%;
  margin-left: 3%;*/
  margin-right: 10%;
  margin-left: 10%;
}
/*.intro_carl {
  margin-right: 3%;
}*/

/*.story {
  clear: both;
}*/

/* Our Story
   ================================================================ */
.background {
/*  background-image: url("../images/flowers_blur.jpg");*/

  z-index: 1;
  clear: both;
}
.background_color {
  position: relative;
  overflow: hidden;
  margin-bottom: 4%;
  border-top: 2px solid rgba(188,191,184,0.15);
  border-bottom: 2px solid rgba(188,191,184,0.15);
/*  -webkit-box-shadow: inset 1px 1px 33px -4px rgba(0,0,0,0.95);
-moz-box-shadow: inset 1px 1px 33px -4px rgba(0,0,0,0.95);
box-shadow: inset 1px 1px 33px -4px rgba(0,0,0,0.95);*/
}
#background_img {
  opacity: 0.4;
  z-index: -100;
  clear:both;
  position: absolute;
  left: 0;
  top: 0;
  height: auto;
  width: 100%;
  opacity: 0.2;
}
/*.story {
  z-index: 5;
  position: absolute;
  background-color: rgba(139,8,55,0.7);
  margin-top: 5%;
  height: 500px;
}
.story_text {
  margin: 7% auto 5% auto;
}
.story h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  font-size: 3rem;
  line-height: 1rem;
  margin: 0 auto 0 auto;
  color: white; 
}
.story p {
  margin: 2% 15% 7% 15%;
  color: white;
  font-weight: 300;
}*/

/* Engagement Video
   ================================================================ */
.video {
  margin: 0;
  padding-bottom: 8%;
  width: 100%;
  padding-top: 2%;
  opacity: 1;
  background-color: rgba(255,255,255,0.4); 
}
.video>.line_Wrapper{
  margin-top: 0;
}

.engagement_img {
   width: 50%;
  margin: 0 25%;
  position:relative;
  -webkit-box-shadow: 0px 13px 95px -8px rgba(0,0,0,0.49);
  -moz-box-shadow: 0px 13px 95px -8px rgba(0,0,0,0.49);
  box-shadow: 0px 13px 95px -8px rgba(0,0,0,0.49);
    overflow: hidden;
}

#engagement_video_img {
  width: 100%;
}
  


.video_copy {
  z-index: 15;
  font-family: 'Oswald', sans-serif;
  font-size: 0.7rem;
  text-transform: uppercase;
  font-weight: 300;
  color: white;
  letter-spacing: 8px;
  width: 100%;
  position: absolute;
  top: 10%;
  left: 0;
}

#play_button {
  text-align: center;
  margin:20% 35% 0% 35%;
  width: 30%;
  opacity: 0.5;
  position: absolute;
}

#play_button:hover {
  cursor: pointer;
}

.video_copy h1, .video h1 {
  color: rgba(250,205,31,1);
  padding: 2%;
  font-weight: 100;
  text-align: center;
  font-family: 'Cookie', cursive;
  line-height: 1rem;
  font-size: 4rem;
  text-align: center;
  height: 60px;
}
iframe {
  display:none;
  visibility:hidden;
  z-index:1;
  margin: auto;
}

.hide {
  visibility: hidden;
  display:none;
}
.show {
  visibility: visible;
  display: block;
}
/*  Gallery Alt
   ================================================================ */
.gallery_alt {
  z-index: 15;
  position: relative;
  border-top: 1px solid #BCBFB8;
  border-bottom: 1px solid #BCBFB8;
  padding-top: 3%;
  padding-bottom: 3%;
  margin-top: 7%;
}
.image_gallery {
  float:left;
/*  height: 250px;*/
/*  height: 500px;*/
  border: 4px solid white;
  width: 20%;
}

.gall_1 {
  overflow: hidden;
}

.gall_1.1, .gall_2.1 {
  width: 12%;
}


/* Footer
   ================================================================ */
.mobile_message {
  margin: 800px 25% 0% 25%;
  width: 50%;
  position: absolute;
  overflow:hidden;
  top: 320%;
}


/* Additional Pages
   ================================================================ */
.header_full {
  text-align: center;
}

.header_full h1 {
  margin:100px auto 0 auto;
  font-size: 2rem;
}
.header_full h2 {
  font-size: 2rem;
  margin: 0 auto;
}
.header_full #ballerina {
  font-size: 3rem;
}
.header_full #baritone {
  font-size: 2.5rem;
}
.header_full .articles {
 margin: 2% auto;
}
#nav_show {
  display: block;
  visibility: visible;
  position: static;
}
.banner h1 {
  background-color: rgba(139,8,55,0.7);
  color: white;
  margin: 4% auto 1% auto;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  letter-spacing: 3px;
  width: 40%;
}
.message h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  letter-spacing: 3px;
  width: 40%;
  margin: 0 auto;
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
}

.message_full {
  margin-top: 10%;
}
.message_full h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  letter-spacing: 3px;
  width: 100%;
  margin: 5% auto;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  color: white;
}
/* Gallery ================================================================ */
.gallery h1 {
    font-family: 'Cookie', cursive;
    line-height: 1rem;
    font-size: 4rem;
    text-align: center;
    color: white;
    font-weight: 100;
}

#image_show {
  width: 50%;
  margin: auto 25%;
}
.button_fb {
  width: 40%;
  margin: 2% 30% 5% 30%;
  text-align: center;
}


button {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  background-color: rgba (255,255,255,0.2);
  color: black;
  text-transform: uppercase;
  font-size: 1.4rem;
}

/*Invitation Page=======================================================*/
.invitation_title h1 {
  font-family: 'Cookie', cursive;
  font-size: 2rem;
  position: relative;
  top: 25%;
  height: 50%;
  width: 35%;
  padding: 0 0;
  left:32.5%;
  color: gray;
  background-color: white;
  z-index: 45;
/*  border: 1px solid rgba(250,205,31,1);
*/  line-height: normal;
  color: rgba(250,205,31,1);
  padding: 0;
  font-weight: 100;
  text-align: center;
  margin-bottom: 0;
  margin-top: 2%;
}
.invitation_content {
  text-align: center;
  font-family:'Alegreya Sans SC', sans-serif;
  font-size: 1.4rem;
}
.invitation_details {
  margin: 5% auto 5% auto;
}
.phonecian a {
  text-transform: none;
}
.header_invite {
  margin: 2% auto;
}
.header_invite h1 {
  margin-top: 0;
}
.header_invite .articles {
  margin-top: 0;
}
.invite_nav li, .invite_nav a {
  margin: 2% auto;
}
.invitation_details p{
  font-family: 'Raleway', sans-serif;
  font-size: 1.4rem;
}
.invitation_details #phoenecian {
  font-style: none;
  color: black;
  text-decoration: none;
}
#registry_link {
  text-decoration: none;
  text-decoration: default;
  color: black;
}
.invitation_title a {
  text-decoration: none;
  color: #FACD1F;
}

.invitation_title p {
  font-size: 0.8rem;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}
/* Mobile Optimization
   ================================================================ */
@media only screen and (max-width: 1170px) {
  .nav li, .nav a {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 1050px) {
  html {
      font-size: 16px;
  }
  .video_copy h1, .video h1 {
    padding: 3%;
    font-size: 3rem;
  }
}



@media only screen and (max-width: 1020px) {
 /* .header {
    height: 630px;
  }*/
  * {
    font-size: 10px;
  }
}

@media only screen and (max-width: 999px) {
  .nav li, .nav a {
    font-size: 0.7rem;
  }
  .nav li {
    width: 24%;
  }
  .nav ul {
  margin: 2% 0;
}

@media only screen and (max-width: 870px) {
/*  .header {
    height: 560px;
  }*/
/*  .video {
    width: 80%;
    margin: 580px 10% 0% 10%;
  }*/
  .message_full h1 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 840px) {
/*  .header {
    height: 520px;
  }*/
  #about h1 {
    font-size: 3rem;
  }
  .header_copy {
    left: 2%;
  }
  .video_copy h1, .video h1 {
    padding: 3%;
    font-size: 2rem;
  }
  #teen_little, #carlton_little {
    width: 40%;
  }
}

@media only screen and (max-width: 750px) {
/*  .header {
    height: 400px;
  }*/
html {
    font-size: 12px
  }
  .video_copy h1, .video h1 {
    padding: 3%;
    font-size: 3rem;
  }

.nav ul {
  display: none;
  visibility: hidden;
}
.hamburger {
  display: block;
  visibility: visible;
}
.nav {
  height: 50px;
  -webkit-box-shadow: -1px 3px 21px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 3px 21px -10px rgba(0,0,0,0.75);
  box-shadow: -1px 3px 21px -10px rgba(0,0,0,0.75);
}
.engagement_img {
  -webkit-box-shadow: -1px 3px 21px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 3px 21px -10px rgba(0,0,0,0.75);
  box-shadow: -1px 3px 21px -10px rgba(0,0,0,0.75);
}
}

@media only screen and (max-width: 750px) {
 .header_copy {
  top: 25%;

 }
.bio {
  float: none;
  width: 90%;
  }
.intro_teen {
  margin-right: 5%;
  margin-left: 5%;
  }
.intro_carl {
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 10%;
  margin-bottom: 10%;
  }
.header_copy {
  display: none;
  visibility: hidden;
}
.header_mobile {
  visibility: visible;
  display: block;
  text-align: center;
  margin: 2rem auto 10rem auto;

}
.header_mobile h2 {
  text-align: center;
  margin: 2% auto;
}
.articles {
  font-size: 1rem;
}
.header_line {
  visibility: visible;
  display: block;
}
#background_img {
  height: 100%;
}
iframe {
  width: 90%;
  margin: 0 5%;
  height: 100%;
}
.engagement_img {
    width: 90%;
    margin: 0 5%;
  }
  .gallery_alt {
    width:90%;
    margin-left:5%;
    margin-right:5%;
  }
  .image_gallery {
    width: 50%;
  }
}


@media only screen and (max-width: 635px) {
  .video_copy h1, .video h1 {
    padding: 4%;
    font-size: 2.4rem;
  }
  .engagement_img {
    width: 90%;
    margin: 0 5%;
  }
  .gallery_alt {
    width:90%;
    margin-left:5%;
    margin-right:5%;
  }
  .image_gallery {
    width: 50%;
  }
  .line_Wrapper h1 {
    width:60%;
    left: 20%;
  }
  .header_line {
    display: none;
    visibility: hidden;
  }
}

@media only screen and (max-width: 600px) {
  .video_copy h1, .video h1 {
    padding: 6%;
    font-size: 2.1rem;
  }
  .intro_teen p, .bio p {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
}

@media only screen and (max-width: 530px) {

/* .header {
  height: 250px;
 }*/

.message_full h1 {
  font-size: 1.5rem;
  margin: 0 auto 5% auto;
}

.header_mobile {
  margin-bottom: 10%;
}
/* .story h1 {
  margin: 5rem auto 2rem auto;
 }*/

}



